.gradle/
.kotlin/
build/
local.properties
.go-build-cache/
app/src/main/assets/cloudflared
.DS_Store

# IDE
.idea/
*.iml
captures/
.externalNativeBuild/
.cxx/

# Keystore
*.jks
*.keystore
!app/keystore/playlists.keystore
